.titleBar {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: black;
  user-select: none;
}

.logo {
  margin-left: 20px;
}

.spacer {
  flex: 1; /* This will push the closeButton to the right */
}

.closeButton {
  height: 100%;
  padding: 10px; /* Add padding for better visibility and click area */
}

.cursorDefault * {
  cursor: default;
}

.closeButton:hover {
  background-color: #8b0000;
}

.draggable {
  -webkit-app-region: drag;
}

.nonDraggable {
  -webkit-app-region: no-drag;
}